# Dependencies
node_modules/
vendor/

# Temporary files
tmp/
*.log

# OS
.DS_Store

# IDE
.idea
*.iml
*.swp

# Yarn (not using zero-install)
**/.yarn/*
!**/.yarn/releases
!**/.yarn/plugins
!**/.yarn/versions
.pnp.*

# Output
build/
