{
  "processors": [
    [
      "stylelint-processor-styled-components", {
      "parserPlugins": [
        "jsx",
        "objectRestSpread",
        ["decorators", {"decoratorsBeforeExport": true}],
        "classProperties",
        "exportExtensions",
        "asyncGenerators",
        "functionBind",
        "functionSent",
        "dynamicImport",
        "optionalCatchBinding",
        "optionalChaining",
        "nullishCoalescingOperator",
        "numericSeparator"
      ]
    }
    ]
  ],
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-styled-components"
  ],
  "plugins": ["stylelint-order"],
  "rules": {
    "indentation": 4,
    "font-weight-notation": "numeric",
    "order/order": [
      "custom-properties",
      "declarations"
    ],
    "order/properties-alphabetical-order": true
  },
  "syntax": "scss"
}
