{
  "processors": [
    [
      "stylelint-processor-styled-components",
      {
        "parserPlugins": [
          "jsx",
          "objectRestSpread",
          [
            "decorators",
            {
              "decoratorsBeforeExport": true
            }
          ],
          "classProperties",
          "exportExtensions",
          "asyncGenerators",
          "functionBind",
          "functionSent",
          "dynamicImport",
          "optionalCatchBinding",
          "optionalChaining",
          "nullishCoalescingOperator",
          "numericSeparator"
        ]
      }
    ]
  ],
  "extends": [
    "@equisoft/stylelint-scss-config",
    "stylelint-config-styled-components"
  ],
  "plugins": ["stylelint-order"],
  "rules": { },
  "syntax": "scss"
}
